@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .App {
    @apply text-center px-4 py-10 sm:px-14 md:px-16 sm:py-16
    overflow-hidden lg:max-w-[90%]
  }
  .Feed {
    @apply justify-between mb-8 text-left space-y-16 text-slate-400
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Changa', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: #0F172A;
  }
}
